body{
  background : url("img/background.jpg")no-repeat center ;
  font-size:17px;
  background-attachment: fixed;
}

.FrameStats{
  margin-left:20%;
  margin-right:20%;

}


.bouton{
  background: url("img/backgroundwhite.png");
  width:100%;
  height:5%;
}

.bouton:active {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #537cdb), color-stop(1, #5793e6));
  background:-moz-linear-gradient(top, #537cdb 5%, #5793e6 100%);
  background:-webkit-linear-gradient(top, #537cdb 5%, #5793e6 100%);
  background:-o-linear-gradient(top, #537cdb 5%, #5793e6 100%);
  background:-ms-linear-gradient(top, #537cdb 5%, #5793e6 100%);
  background:linear-gradient(to bottom, #537cdb 5%, #5793e6 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#537cdb', endColorstr='#5793e6',GradientType=0);
  background-color:#537cdb;
}
.bouton:hover {
  position:relative;
}
#menu{
  background: url("img/backgroundblack.png");
  border-radius: 5px;
  margin:0px;
  height:100%;
  width:15%;
  margin-top:20px;
  float:left;
  position: fixed;
  margin-left: 0px;
  transform:translateX(-300px);
  transition: transform 1s, height 1s;
}
#boutonMenu{
  width:15%;

}
