body{
  background : url("http://www.wallpapereast.com/static/images/nature-hd-wallpaper_orILwYz.jpg")no-repeat fixed center ;
  font-size:17px;
}
/*
#titre{
margin-left: 10%;
margin-right:10%;
background-color: white;
opacity: 0.6;
}
#index{
margin-left: 10%;
margin-right:10%;
background-color: white;
opacity: 1;

}
*/
/*background: url("img/background.png");*/

#titre{
  background: url("img/backgroundblack.png");
  margin-left: 10%;
  margin-right: 10%;
  padding: 10px;
  color:white;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  font-size:23px;

}

#contenu {
  margin-left: 10%;
  margin-right: 10%;
  padding: 15px;
  background-color: #ffffff;
  border: 1px solid black;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  opacity: 1;
}

#Puissance {
  width: 0%;
  height: 30px;
  background-color: #4CAF50;
  border-radius:0px;
  border-style:solid;
  border-top-width:0px;
  border-left-width:0px;
  border-bottom-width:0px;
  border-top-left-radius:2px;
  border-bottom-left-radius:2px;

}
#PuissanceBarMax {
  width: 100%;
  height: 30px;
  border-style:solid;
  border-width:2px;
  border-radius:4px;
}
#PuissanceMax{
  width:0%;
  height:30px;
  border-style:solid;
  border-top-width:0px;
  border-left-width:0px;
  border-bottom-width:0px;

}

#objectif {
  width: 100%;
  height: 30px;
  border-style:solid;
  border-width:2px;
  border-radius:4px;
}

#objectifActuel {
  width: 0%;
  height: 30px;
  background-color: #8e44ad;
  border-radius:0px;
  border-style:solid;
  border-top-width:0px;
  border-left-width:0px;
  border-bottom-width:0px;
  border-top-left-radius:2px;
  border-bottom-left-radius:2px;
}

#pourcent{
  margin-left:0%;

}

.bouton{
  -moz-box-shadow:inset 0px 0px 14px 0px #2849a6;
  -webkit-box-shadow:inset 0px 0px 14px 0px #2849a6;
  box-shadow:inset 0px 0px 14px 0px #2849a6;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5793e6), color-stop(1, #537cdb));
  background:-moz-linear-gradient(top, #5793e6 5%, #537cdb 100%);
  background:-webkit-linear-gradient(top, #5793e6 5%, #537cdb 100%);
  background:-o-linear-gradient(top, #5793e6 5%, #537cdb 100%);
  background:-ms-linear-gradient(top, #5793e6 5%, #537cdb 100%);
  background:linear-gradient(to bottom, #5793e6 5%, #537cdb 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5793e6', endColorstr='#537cdb',GradientType=0);
  background-color:#5793e6;
  -moz-border-radius:7px;
  -webkit-border-radius:7px;
  border-radius:7px;
  border:1px solid #2c53c7;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:17px;
  font-weight:bold;
  padding:12px 20px;
  text-decoration:none;
  text-shadow:0px 1px 25px #283966;

}

.bouton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #537cdb), color-stop(1, #5793e6));
  background:-moz-linear-gradient(top, #537cdb 5%, #5793e6 100%);
  background:-webkit-linear-gradient(top, #537cdb 5%, #5793e6 100%);
  background:-o-linear-gradient(top, #537cdb 5%, #5793e6 100%);
  background:-ms-linear-gradient(top, #537cdb 5%, #5793e6 100%);
  background:linear-gradient(to bottom, #537cdb 5%, #5793e6 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#537cdb', endColorstr='#5793e6',GradientType=0);
  background-color:#537cdb;
}
.bouton:active {
  position:relative;
  top:1px;
}
